<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header"><a href="/" class="navbar-brand">{{title}}</a></div>
    <span class="navbar-logout"> 
      <a href="/logout" class="language-item">{{i18n 'Logout'}}</a>
    </span>
  
    <span class="navbar-language-selector">
      {{#each getLocales}}
      <a href="/lang/{{this}}" class="language-item">{{this}}</a>
      {{/each}}
    </span>
  </div>

</div>
